<%- include('../../partials/header') %>
    <%- include('../../partials/navbar') %>

        <body>
            <div class="container">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Título</th>
                            <th scope="col">Slug</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>

                    <% artigosCategorias.forEach(artigoCat => { %>
                        <tr>
                            <th scope="row">
                                <%= artigoCat.id_artigo %>
                            </th>
                            <td>
                                <%= artigoCat.titulo %>
                            </td>
                            <td>
                                <%= artigoCat.slug %>
                            </td>
                            <td>
                                <%= artigoCat.categoria %>
                            </td>
                            <td>
                                <a href="/categoria/editar" class="btn btn-warning btn-sm">Editar</a>
                                <a href="/categoria/deletar" class="btn btn-danger btn-sm">Deletar</a>
                            </td>
                        </tr>
                        <% }) %>
                            </tbody>
                </table>
            </div>
        </body>
        <%- include('../../partials/footer') %>